* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sen', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease-in-out;
}

.menu {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Ajustement pour s'assurer qu'il n'y a pas de marges indésirables */
.menu-item {
    display: block;
    padding: 15px 20px;
    margin: 10px 0;
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-item:hover {
    background-color: #2a2778;
    transform: translateY(-3px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body.loaded .menu {
    opacity: 1;
    transform: translateY(0);
    animation: fadeIn 0.5s forwards;
}

body {
    overflow: hidden; 
}

